<div class="main">
    <div class="main__preview">
        <div class="main__logo">
            <img src="assets/images/main/preview/header_hd.png" alt="">
        </div>
        <div class="main__about">
            <p>
                Lemmings meets Lost Vikings. Dwarflings is a hardcore classic which will be a challenge for the brain and fingers. 
                In the game, you will take control of up to five characters, each one with a unique ability. The control is indirect: 
                while dwarves are moving in real time, you control their speed and manage their abilities 
                to help as many as possible to escape. On your road to freedom, you will meet not only hordes of enemies, 
                but also some friendly and helpful characters. 
            </p>
            <p [class.visible]="invisibility"><span (click)="transfer()">Show more...</span></p>
            <div class="preview__img">
                <img [class.visible]="invisibility" src="assets/images/main/preview/dwarflings1.png" alt="">
            </div>
            <div [class.invisible]="visibility">
                <p>
                    The game is dedicated to the adventures of resilient dwarflings in miner's helmets, 
                    mashing clay in the grim corridors of the gold mine which never saw the light of the sun. 
                    The hardworking dwarves are not sitting idle. One dwarf is climbing the mountain and risking breaking 
                    into the abyss. Another has dug a pit. A third has fallen into it and cannot get out. 
                    Someone has even dropped a stone on a huge cave troll's toe! You are the one who has to watch over all this mess.
                </p>
                <p>
                    Mind boggling puzzles and indirect control over up to five unique beardies will make you suffer, 
                    cry, break your keyboard and call Mommy  until and unless you finish the final level in order to stop 
                    this nightmare. Escaping an orc prison is not easy, especially if your most threatening weapon is a shovel...
                </p>
            </div>
            <p [class.invisible]="visibility"><span (click)="transfer()">Hide</span></p>
        </div>
    </div>
    <div class="main__screenshots">
        <div class="main__title-screen">
        </div>
        <div class="main__screenshots-gallery">
            <img src="assets/images/main/screenshots/screen1.jpg" />
            <img src="assets/images/main/screenshots/screen2.jpg" />
            <img src="assets/images/main/screenshots/screen3.jpg" />
            <img src="assets/images/main/screenshots/screen4.jpg" /> 
            <img src="assets/images/main/screenshots/screen5.jpg" /> 
            <img src="assets/images/main/screenshots/screen6.jpg" />  
        </div>
    </div>
    <div class="main__trailer">
        <div class="main__title-screen">
        </div>
        <div class="main__trailer-content">
            <div class="main__trailer-content--video">
                <div class="videoWrapper">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/bTmNqDMyv_E?rel=0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="main__download">
        <div class="main__title-screen">
        </div>
        <div class="main__download-stores">
            <div class="main__download-stores--itunes">
                <img src="assets/images/main/download/itunes.png" alt="">
                <a href="https://itunes.apple.com/app/dwarflings/id1296844720?mt=12" target="_blank">download in itunes</a>
            </div>
            <div class="main__download-stores--steam">
                <img src="assets/images/main/download/steam.png" alt="">
                <a href="http://store.steampowered.com/app/562330/Dwarflings/" target="_blank">download in Steam</a>
            </div>
            <div class="main__download-stores--itch">
                <img src="assets/images/main/download/itch.png" alt="">
                <a href="https://starwindgames.itch.io/dwarflings" target="_blank">download in itch.io</a>
            </div>
        </div>
    </div>
</div>