@media screen and (min-width: 50em) and (max-width: 1000em) {
    .wrapper {
        min-width: 800px;
        max-width: 1400px;
    }
}

@media screen and (min-width: 0em) and (max-width: 49.99em) {
    .wrapper {
        min-width: 300px;
    }
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    background-color: rgb(4, 31, 51);
    font-weight: 200;
    font-size: 3em;
}
