* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: rgb(39, 40, 43);
    border: 0;
    font-family: Fantasy1, sans-serif;
                /*'Indie Flower', cursive
                'Amatic SC', cursive
                'Permanent Marker', cursive
                'Gochi Hand', cursive;*/
    color: white; 
}

@font-face {
    font-family: Fantasy1; /* Имя шрифта */
    src: url(assets/fonts/Fantasy1.ttf); /* Путь к файлу со шрифтом */
}
